[submodule "src/gdtoa"]
	path = src/gdtoa
	url = https://github.com/embeddedartistry/gdtoa
[submodule "meson-buildsystem"]
	path = build
	url = https://github.com/embeddedartistry/meson-buildsystem
[submodule "printf"]
	path = printf
	url = https://github.com/embeddedartistry/printf
[submodule "openlibm"]
	path = openlibm
	url = https://github.com/embeddedartistry/openlibm
