cscope*out
*.sublime-workspace
.DS_Store

# Generated folders
buildresults*
build/gen/**

# Meson subprojects
**/subprojects/**
!**/subprojects/*.wrap

# Patch file
clang_format.patch

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
