[submodule "src/gdtoa"]
	path = src/gdtoa
	url = https://github.com/embeddedartistry/gdtoa
[submodule "meson-buildsystem"]
	path = meson
	url = https://github.com/embeddedartistry/meson-buildsystem
[submodule "printf"]
	path = printf
	url = https://github.com/embeddedartistry/printf
[submodule "openlibm"]
	path = openlibm
	url = https://github.com/embeddedartistry/openlibm
[submodule "cmake"]
	path = cmake
	url = https://github.com/embeddedartistry/cmake-buildsystem
